<section class="section">
  <div class="container">
    <h5 class="title is-size-4">Search</h5>
    <%= render "partials/search", query: @query, council_id: @council_id %>

    <% if @query.present? %>
      <div class="box mt-2">
        <% if @results.present? %>
          <div class="mt-4">
            <h4>Search Results:</h4>
            <ul class="list-group">
              <% @results.each do |result| %>
                <li class="list-group-item">
                  <a href="<%= result['object'].url %>"><%= result['object'].meeting.name %> - <%= result['object'].id %></a><br />
                  <small><%== result['highlight']['text'][0] %></small>
                </li>
              <% end %>
            </ul>
          </div>
        <% else %>
          <p>No results found</p>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
