<section class="section">
  <div class="container">
    <h5 class="title is-size-4">Search</h5>
    <%= render "partials/search", query: @query, mode: @mode, council_id: @council_id %>

    <% if @query.present? %>
      <div class="box mt-2">
        <% if @results.present? %>
          <div class="mt-4">
            <h5 class="title is-size-4">Search results</h5>
            <ul class="list-group">
              <% @results.each do |result| %>
                <li class="list-group-item">
                  <%= result['object'].council.name %>: <a href="<%= result['object'].url %>"><%= result['object'].meeting.name %> - <%= result['object'].id %></a><br />
                  <% result['highlight'].each do |key, value| %>
                    <%== value.join('<br />') %><br />
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        <% else %>
          <p>No results found</p>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
