<h1><%= @council.name %></h1>
<h2>Meetings</h2>
<table>
  <thead>
    <tr>
      <th>Committee</th>
      <th>Meeting Date</th>
      <th>Meeting Name</th>
      <th>Documents</th>
    </tr>
  </thead>
  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.committee.name %></td>
        <td><%= meeting.date.strftime('%B %d, %Y') %></td>
        <td><%= meeting.name %></td>
        <td><%= link_to "#{meeting.documents.count} Documents", meeting_path(meeting) if meeting.documents.any? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Decisions</h2>
<% if @decisions.any? %>
  <table>
    <thead>
      <tr>
        <th>Decision Maker</th>
        <th>Date</th>
        <th>Outcome</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% @decisions.each do |decision| %>
        <tr style="background-color: <%= decision.color %>">
          <td>
            <strong><%= decision.decision_maker %></strong><br>
            <%= decision.decision_classifications.last&.output.try(:[], "summary") %>
          </td>
          <td><%= decision.date.strftime('%B %d, %Y') if decision.date %></td>
          <td><%= decision.outcome %></td>
          <td><%= link_to 'View Decision', decision_path(decision) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No decisions available for this council.</p>
<% end %>
