<div class="filters">
  <form method="GET" action="/">
    <label>Council</label>
    <select name="council_id">
      <% Council.all.order(name: :asc).each do |council| %>
        <option value="<%= council.id %>" <% if @council&.id == council.id %>selected="selected"<% end %>><%= council.name %></option>
      <% end %>
    </select>
    <input type="submit" class="button" value="Filter">
  </form>
</div>

<div class="feed">
  <% @feed_items.each do |item| %>
    <% if item[:kind] == 'meeting' %>
      <%= render :partial => 'home/partials/meeting', :object => item[:item] %>
    <% elsif item[:kind] == 'decision' %>
      <%= render :partial => 'home/partials/decision', :object => item[:item] %>
    <% end %>
  <% end %>

  <% if @feed_items.length == 0 %>
    <p>There's no data for <%= @council&.name || "any councils" %> yet.</p>
  <% end %>
</div>