<!DOCTYPE html>
<html>
  <head>
    <title>CouncilScraper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation.min.css" crossorigin="anonymous">

    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/js/foundation.min.js" crossorigin="anonymous"></script>
  </head>
 
  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu" data-dropdown-menu>
          <li class="menu-text">CouncilData</li>
          <li>
            <%= link_to "Feed", root_path %>
          </li>
          <li>
            <%= link_to "Meetings", meetings_path %>
          </li>
          <li>
            <%= link_to "Councils", councils_path %>
          </li>
        </ul>
      </div>
    </div>

    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
