<!DOCTYPE html>
<html>
  <head>
    <title>Council Gateway</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap">
    <script src="/js/apexcharts.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
 
  <body>
    <%= render "layouts/navbar" %>

    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
