<!DOCTYPE html>
<html>
  <head>
    <title>CouncilScraper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= link_to "Latest", root_path %>
      <%= link_to "Councils", councils_path %>
    </header>
    <%= yield %>
  </body>
</html>
